@import url(body.css);

@keyframes wave {
    0%
    {
        background-position: 0% 0%;
    }
    50%
    {
        background-position: 100% 50%;
    }

    100%
    {
        background-position: 0% 50%;
    }
}

@keyframes logoRotate {
    from{
        transform: translate(-50%, -50%), rotate(0deg);
    } to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

