@import url(style.css);
@import url(header.css);
@import url(animation.css);

.welcome
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome-sections
{
    height: 70%;
    display: flex;
    justify-content: center;
}

.welcome-sections
section
{
    overflow: hidden;
    padding-top: 30px;
}

/* First Section */
.welcome-sections
section:nth-child(1),
section:nth-child(3)
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--clr--font-main);
    transition: transform 1s ease-in-out, opacity 1.5s ease-in-out;
}

.welcome-sections
section:nth-child(1)
{
    transform: translateX(-250px);
    opacity: 0.3;
}

.welcome-sections
section:nth-child(1)
h1
{
    width: 100%;
    font-family: BigTextHeavy, sans-serif;
    font-size: 12rem;
    line-height: 10rem;
}

.welcome-sections
section:nth-child(1)
h2
{
    width: 100%;
    font-family: Bahnschrift;
    font-weight: 600;
    font-size: 4rem;
}

/* Middle Section */

.welcome-sections
section:nth-child(2)
{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 5rem;
    position: relative;
    overflow: visible;
}

.welcome-sections
section:nth-child(2)
img
{
    width: auto;
    max-height: 664px;
    height: 70%;
}

.welcome-sections
section:nth-child(2)::before
{
    content: '';
    position: absolute;
    background-image: url(/asset/img/logo+criatividade-que-valoriza.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12rem;
    height: 12rem;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* #easter-img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14rem;
    height: 14rem;
    background-image: url(/asset/img/easter.png);
    border-radius: 50%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
} */

/* Right Section */

.welcome-sections
section:nth-child(3)
{
    opacity: 0.3;
    transform: translateX(250px);
    overflow: visible;
    display: flex;
}

.welcome-sections
section:nth-child(3)
h1
{
    width: 100%;
    font-family: BigTextHeavy, sans-serif;
    font-size: 12rem;
    line-height: 10rem;
}

.welcome-sections
section:nth-child(3)
h2
{
    width: 100%;
    font-family: Bahnschrift;
    font-weight: 600;
    font-size: 4rem;
    text-align: start;
    padding-left: 0.5rem;
}

.more
{
    display: flex;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.more
button
{
    color: var(--clr-bg);
    border: 0;
    font-size: 2.2rem;
    font-family: Bahnschrift;
    font-weight: 600;
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    margin-left: 0.5rem;
    transition: transform 0.3s, background-position 0.2s ease;
    background: linear-gradient(45deg, #38cad8, #9a59d8, #d622d2, #dc9068);
    background-position: center;
    background-size: 140% 140%;
    animation: wave 5s ease-in-out infinite;
}

.more
button:hover
{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.floating-work
{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.floating-work
span, i
{
    width: 100%;
    text-align: center;
    font-family: SmallTextBold;
    font-size: 1.8rem;
}

.designs
{
    padding: 50px 100px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.designs
section
{
    max-width: 1920px;
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: fit-content;
}

.designs
section
.design-section
{
    width: 33.333%;
    height: fit-content;
    border-right: 0.2rem solid var(--clr--font-main);
    padding: 1.5rem;
    padding-bottom: 1.5rem;
}

.designs
section
.design-section:last-child
{
    border-right: 0;
}

.designs
section:nth-child(1){
    transform: translateY(0.2rem);
}

/* Pinheiro Vargas */
section:nth-child(1)
.design-section:nth-child(1)
.design
{
    height: 100%;
    background-image: url(/asset/img/pinheiro-vargas/02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-size: 140%;
    border: 1px solid;
    border-radius: 4rem;
}

/* Mascote */
section:nth-child(1)
.design-section:nth-child(2)
.design
{
    height: 100%;
    background-image: url(/asset/img/Mascote/linkedin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    border: 1px solid;
    border-radius: 4rem;
}

/* Deller */
section:nth-child(1)
.design-section:nth-child(3)
.design
{
    height: 100%;
    background-image: url(/asset/img/fisio-deller/final-deller.png);
    background-color: red;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    border-radius: 4rem;
    border: 1px solid #38cad8;
    background-color: var(--clr-bg);
}

section:nth-child(2)
{
    max-height: 605px;
}

section:nth-child(2)
.design-section
{
    padding: 1.5rem;
}


/* Assets Factory */

section:nth-child(2)
.design-section:nth-child(1)
.design
{
    height: 100%;
    background-image: url(/asset/img/assets-factory/01-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    border-radius: 4rem;
}

/* Mascote */
section:nth-child(2)
.design-section:nth-child(2)
{
    width: 66.7%;
    height: fit-content;
}

section:nth-child(2)
.design-section:nth-child(2)
.inProgress
{
    position: relative;
    width: 100%;
    padding-bottom: calc(50% - 1.5rem);
    border-radius: 4rem;
    background-color: var(--clr-bg);
    border: 0.1rem solid rgba(0, 0, 0, 0.152);
    overflow: hidden;
}

section:nth-child(2)
.design-section:nth-child(2)
.inProgress
p
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-bg);
    z-index: 1;
    font-family: BigTextHeavy;
    font-weight: bold;
    
    font-size: 5rem;
}

section:nth-child(2)
.design-section:nth-child(2)
.inProgress
.circle
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    filter: blur(8rem);
    background: linear-gradient(45deg, #38cad8, #d622d2);
    transition: opacity 0.5s;
}

.design
{
    display: flex;
    align-items: end;
    overflow: hidden;
}

.tag-container
{
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    transition: opacity 0.5s;
}

.tag-container
.design-name
{
    width: 100%;
    color: var(--clr-bg);
    font-family: bigTextHeavy;
    font-size: 2.5rem;
    padding: 1rem;
}

.tag-container
.design-tag
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--clr-bg);
    font-size: 1.5rem;
    font-family: SmallTextRegular;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--clr-bg);
    border-radius: 2rem;
    margin: 0.5rem 0.3rem;
}



.designs
section
.design-section:hover
.design
{
    transition: transform 0.5s, background-size 2s ease;
    background-size: 100%;
    transform: scale(1.1) translateX(-10px) translateY(-10px);
}

.designs
section
.design-section:not(:hover)
.design
{
    transition: transform 0.3s, background-size 0.5s ease;
    background-size: 140%;
    transform: scale(1) translateX(0px) translateY(0px);
}

.designs
section
.design-section:hover
.design
.tag-container
{
    opacity: 1;
}

/* About Section */

.about
{
    padding: 5rem 100px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1920px;
}

.about-title
{
    width: 100%;
    margin-bottom: 5rem;
}

.about-title
h1
{
    font-family: BigTextHeavy, sans-serif;
    font-size: 8rem;
    color: var(--clr--font-main);
}

.about
.about-profile
{
    width: 40%;
    background-image: url(/asset/img/Sobre-mim-foto.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.about-me
{
    width: 60%;
    padding: 0 3.5rem;
    text-align: justify;
    font-family: SmallTextRegular;
    font-size: 2.1rem;
    line-height: 3rem;
    color: var(--clr--font-main);
}

