footer
{
    background-color: var(--clr--font-main);
    padding: 8rem 100px;
}

.icon-container
{
    display: flex;
}

footer
a
.icon
{
    padding: 1.5rem;
    margin: 0 1rem;
    border-radius: 72% 28% 40% 60% / 40% 49% 51% 60% ;
    background: linear-gradient(45deg, #8015e4, #e716e3);
}

footer
a:nth-child(2)
.icon
{
    border-radius: 52% 78% 70% 40% / 50% 40% 60% 50% ;
    background: linear-gradient(45deg, #8015e4,#e716e3);
}

footer
.icon:first-child
{
    margin-left: 0px;
}

footer
.icon
img
{
    height: auto;
    width: 3rem;
}

.footer-links
{
    display: flex;
    padding-top: 5rem;
}

.footer-links
.links
{
    display: flex;
    flex-wrap: wrap;
}

.footer-links
.links
span
{
    width: 100%;
    margin: 1rem 0;
}

.footer-links
.links
span
p
{
    color: var(--clr-bg);
    font-family: Bahnschrift;
    font-size: 2rem;
    width: fit-content;
    transition: transform 0.3s ;
}

.footer-links
.links
span
p:hover
{
    cursor: pointer;
    transform: scale(1.2);
    color: rgba(235, 235, 235, 0.816);
}

.footer-links
.dev
{
    justify-content: end;
    display: flex;
    align-items: end;
    width: 100%;
    color: var(--clr-bg);
    font-family: Bahnschrift;
    font-size: 1.5rem;
}