@import url(style.css);
@import url(header.css);
@import url(body.css);
@import url(sidebar.css);


@media screen and (max-width: 900px) {

    /* HEADER */

    .header-section
    #header-logo
    {
        display: none;
    }

    .header-section 
    .header-item {
        height: 100%;
        display: none;
    }

    .header-section 
    .selector
    {
        display: none;
    }

    .menu
    {
        display: flex;
    }

    /* BODY */
}


@media screen and (min-width: 1366px) {
    :root
    {
        font-size: 10px;
    }
}

@media screen and (min-width: 1920px) {
    :root
    {
        font-size: 16px;
    }

    body
    header
    {
        height: 140px;
    }

    body
    header
    .header-section
    #header-logo
    {
        height: 80px;
    }

    body
    header 
    .header-section
    .selector
    {
        height: 60px;
        border-radius: 30px;
        transition: left 0.6s ease, max-width 0.6s ease, opacity 0.6s ease;
    }

    .welcome-sections
    section:nth-child(1)
    {
        transform: translateX(-250px);
    }

    body
    .welcome-sections
    section:nth-child(3)
    {
        transform: translateX(250px);
    }
}


